* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: rgb(76, 95, 163);
  height: 100%;
  width: 100%;
}

.logo {
  width: 120px;
  height: 110px;
  border-radius: 0;
  margin-bottom: -5px;
}

.gornjiDeoDiv {
  margin: 0;
  padding: 0;
  background-color: rgb(169, 222, 254);
  height: 110px;
}

.gornjiDeoMenu {
  display: flex;
}

.gornjiDeoDugmici {
  margin-top: 0;
  margin-right: 15px;
  margin-left: 15px;
  border: 0px;
  width: 90px;
  padding: 2px;
  background-color: transparent;
  color: rgb(18, 27, 58);
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.gornjiDeoDugmici:hover {
  color: white;
  background-color: rgb(76, 95, 163);
  border-radius: 8px 8px 0px 0px;
  width: 120px;
  font-size: 15px;
}
.gornjiDeoDugmiciAktivno {
  color: white;
  background-color: rgb(76, 95, 163);
  border-radius: 8px 8px 0px 0px;
  width: 120px;
  font-size: 15px;
  border: 0px;
  padding: 2px;
  text-align: left;
}
